@charset "UTF-8";

body {
  background-color: rgb(34, 34, 34);
  margin: 0;
  padding: 0;
}

main {
  background-color: rgb(241, 234, 196);
  height: rem;
  width: 50rem;
  border-radius: 1rem;
  margin: 3rem auto;
  padding: 1rem;
}

label {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
}

input {
  display: inline;
  height: 1.6rem;
  width: 24rem;
  padding: 0.3rem;
  border: 1px solid black;
  background-color: white;
}

div {
  display: inline;
  margin: 0 0 0 1rem;
}

button {
  display: block;
  height: 2.4rem;
  width: 6rem;
  border: 0px;
  border-radius: 0.5rem;
  background-color: rgb(221, 200, 78);
}

label,
input,
button {
  margin: 0.5rem 0;
}

input.warning {
    background-color: orange;
}

#contador.warning {
    color: orangered;
}

#input.error {
  background-color: red;
}