@charset "UTF-8";

body {
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

p {
    font-weight: 600;
}

main {
    width: 60rem;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: .5rem;
    box-shadow: 2px 2px 10px grey;
    background-color: rgb(226, 226, 179);
}

button {
    height: 2.2rem;
    width: 10rem;
    border: 0;
    border-radius: .4rem;
    background-color: rgb(194, 194, 44);
}

p.changed {
    background-color: rgb(0, 0, 256);
}