@charset "UTF-8";

@media (min-width: 40rem) {

/* Necessário ser expecífico para garantir que o menu retrátil não apareça */
    #retratil:target {
        display: none;
    }
    .compacto span {
        display: none;
    }
    
/* Garante que os links sejam vistos em telas grandes */
    header > nav > div{
        display: block;
    }
    
/* Estilização dos links em telas grandes */
    header > nav > div > a {
        font-weight: 800;
        padding:  0.25rem;
        margin: 0 0.75rem 0 0;
        border-radius: 12px;

        color: rgb(45, 44, 43);
        background-color:rgb(230, 221, 211);
    }
    header > nav > div > a:hover {
        padding: 0.19rem;
        border: 1px solid rgb(230, 221, 211);
        
        color: rgb(230, 221, 211);
        background-color: rgb(45, 44, 43);
    }

/* Garante que as infos resumidas não sejam mostradas em tela pequena */
    #resumo-infos {
        display: none;
    }
    
/* Gerencia a forma como as infos completas são mostradas em tela grande */
    #infos {

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    #infos img {
        height: 3.4rem;
        width: 3.4rem;
    }

/* Gerencia o aspecto de lista da main, alem de mostrar os elementos em grupos */
main ul {
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Gerencia o tamanho e estilo de cada item da lista */
    main li {
        width: 24rem;
        height: 32rem;
        margin: 4rem 0;
        border-radius: 1rem;
        /* border: 2px solid black; */
        box-shadow: 2px 2px 1rem black;

/* garante que o conteúdo dentro dos elementos da lista obedecerão o tamanho do mesmo */
        overflow: hidden;

/* Entrega a visibilida que a tela grande terá da lista */
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

/* Gerencia o tamanho das imagens de cada item de lista da main em tela grande */
    main img {
        width: 24rem;
        height: 20rem;
    }
}