@charset "UTF-8";

#container a:hover {
  background: linear-gradient(
    135deg,
    rgb(41, 0, 34),
    rgb(2, 89, 114),
    rgb(52, 57, 58),
    rgb(44, 49, 49)
  );
}

main {
  padding-top: 150px;
  background: linear-gradient(
    135deg,
    rgb(41, 0, 34),
    rgb(2, 89, 114),
    rgb(0, 22, 19),
    rgb(197, 230, 217),
    rgb(116, 88, 88),
    rgb(52, 57, 58),
    rgb(44, 49, 49)
  );
}
.par {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main div {
  margin: 10px;
  box-shadow: 2px 2px 6px black;
  border-radius: 16px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;

  overflow: hidden; /* corta as bordas da imagem sem ter que mecher nelas */

  background-color: white;
}
.dupla {
  height: 160px;
  width: 48%;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.foco {
  width: 97%;
  height: 244px;
  box-sizing: border-box;
  border: 2px solid black;
}
img {
  box-shadow: 0 0 12px black;
}
.dupla > img {
  height: 160px;
  width: 180px;
}

.foco > img {
  height: 240px;
  width: 300px;
}
article {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
article h2 {
  /* text-align: end; */
  margin: 10px;
}
article p {
  text-align: justify;
  margin: 20px 30px 20px 10px;
}
